{% from "macros/forms/text.j2" import inptext %}
{% from "macros/forms/number.j2" import inpnumber %}
{% from "macros/forms/date.j2" import inpdate %}
{% from "macros/select.j2" import select %}
{% from "macros/radio.j2" import radio %}


<td>
	
	{% if field.edit_all %}
		{% if field.field_type == "text" %}
			{{ inptext(field.input, type="multi_all") }}
		{% elif field.field_type == "number" %}
			{{ inpnumber(field.input, type="multi_all") }}
		{% elif field.field_type == "date" %}
			{{ inpdate(field.input, type="multi_all") }}
		{% elif field.field_type == "select" %}
			{{ select(field.input.multi_all,
						field.options,
						classes=field.input.classes,
						selected_id=field.input.value,
						onchange="updateColumnSelect(this);") }}
		{% elif field.field_type == "radio" %}
			{{ radio(field.input.multi_all,
						field.options,
						classes=field.input.classes,
						selected_value=field.input.value,
						onchange="updateColumnRadio(this);") }}
		{% elif field.field_type == "seqfile" %}
			SEQFILE
		{% endif %}
	{% else %}
		<strong> Must be unique </strong>
	{% endif %}
</td>
