<h1>Add/edit author</h1>

<div class="editor">


<form action="{{ url_for('authors_bp.submit') }}" method="POST" class="smbasicform">

	<input type="hidden" name="id" value="{{ author.id }}"/>

	<table>


		<tr>
			<td>
				<strong>First name </strong>
			</td>
			<td> 
				<input type="text" name="first_name" value="{{ author.first_name }}"/>
			</td>
			<td>
				Fore-name of the author.
			</td>
		</tr>


		<tr>
			<td> 
				<strong>
					Middle name 
				</strong>
			</td>
			<td> 
				<input type="text" name="middle_name" value="{{ author.middle_name }}"/>
			</td>
			<td>
				Middle name of the author.
			</td>
		</tr>

		<tr>
			<td> 
				<strong>
					Last name 
				</strong>
			</td>
			<td> 
				<input type="text" name="last_name" value="{{ author.last_name }}"/>
			</td>
			<td>
				Sur-name of the author.
			</td>
		</tr>

	</table>

	<div class="buttons">

		<input class="smbutton save" type="submit" value="Save"/>
		
		<input type="button" 
			class="smbutton back"
			onclick="location.href='{{ url_for('authors_bp.show') }}';"
			value="Back"/>

	</div>

</div>

</form>
