<h1>Authors</h1>

<input type="button"
			 class="smbutton"
			 	onclick="location.href='{{ url_for('authors_bp.edit') }}'"
				value="New"/>


<table class="smlist">
	<tr>
		<th>ID</th>
		<th>Authors</th>
		<th>Edit</th>
	</tr>

	{% for author in authors %}
	<tr>
		<td>{{author.id}}</td>
		<td>{{author.abbreviated_middle_name}}</td>
		<td>
			<input type="button"
				class="smbutton"
				onclick="location.href='{{ url_for('authors_bp.edit') }}?id={{author.id}}'"
				value="Edit"/>
		</td>
	</tr>
	{% endfor %}

</table>

