<h1>Template editor</h1>


<form action="{{ url_for('sample_template_bp.submit') }}" method="POST" onkeydown="return event.key != 'Enter';">

	<div id="template-editor">

		{% include("templates/editor/name.html") %}
		{% include("templates/editor/ena-checklist.html") %}
		{% include("templates/editor/taxonomy.html") %}
		{% include("templates/editor/files.html") %}

		<table id="attribute-editor">
			<thead>
				<tr>
					<th>ADD</th>
					<th>General name</th>
					<th>Is unique</th>
					<th>Label</th>
					<th>Type</th>
					<th>GISAID</th>
					<th>ENA</th>
					<th>Parameters</th>
					<th>Default</th>
					<th>Description</th>
					<th>DEL</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>


	<div id="buttons">
		<input type="button" onclick="ATTRIBUTE_EDITOR.appendAttributeRow();" value="Add">
		<input type="button" id="clear-attributes" onclick="TEMPLATE_EDITOR.clear();" value="Clear">
		<input type="submit" value="Save">
	</div>

	</div>

</form>

<script>
	const TEMPLATE_NAME = "{{ template.name }}";
</script>
