<form action="{{ url_for('samples_submit') }}" method="POST">

	<input type="hidden" name="id" value="{{ sample.sample_id }}"/>

	<h4> Sample data </h4>

	<table>
		<tr>
			<td> Property </td>
			<td> Value </td>
			<td> Description </td>
		</tr>

		<tr>


		<tr> 
			<td> Name </td>
			<td> 
				<input type="text" name="sample_name" value="{{ sample.sample_name }}"/>
			</td>
			<td> Name of the sample (this needs to be the same as the `fasta` and `fastq` file names) </td>
		</tr>


		<tr> 
			<td> Collection date </td>
			<td> 
				<input type="date" name="collection_date" value="{{ sample.collection_date }}"/>
			</td>
			<td> Date when the sample was collected. </td>
		</tr>


		<tr> 
			<td> Author group </td>
			<td> 
			
				<select name="author_group_id"> 

					{% for group in author_groups %}

					{% if group.group_id == sample.author_group_id %}
							<option value="{{group.group_id}}" selected="selected"> {{group.group_name}} </option>
						{% else %}
							<option value="{{group.group_id}}"> {{group.group_name}} </option>
						{% endif %}

					{% endfor %}

				</select>
	
			</td>
			<td> The group of people who worked on the sequencing </td>
		</tr>


		<tr> 
			<td> Originating lab </td>
			<td> 

				<select name="originating_lab_id"> 

					{% for institution in institutions %}

					{% if institution.id == sample.originating_lab_id %}
							<option value="{{institution.id}}" selected="selected"> {{institution.name}} </option>
						{% else %}
							<option value="{{institution.id}}"> {{institution.name}} </option>
						{% endif %}

					{% endfor %}

				</select>


			</td>
			<td> The laboratory where the sample was sequenced. </td>
		</tr>


		<tr> 
			<td> Submitting lab </td>
			<td> 


				<select name="submitting_lab_id"> 

					{% for institution in institutions %}

					{% if institution.id == sample.submitting_lab_id %}
							<option value="{{institution.id}}" selected="selected"> {{institution.name}} </option>
						{% else %}
							<option value="{{institution.id}}"> {{institution.name}} </option>
						{% endif %}

					{% endfor %}

				</select>

			</td>
			<td> The laboratory which submits the sequencing result. </td>
		</tr>



		<tr>
				
			<td> Passage details </td>

			<td> 

				<select name = "passage_details_id">
					{% for pass_det in pass_dets %}
						{% if sample.passage_details_id == pass_det.id %}
							<option value="{{ pass_det.id }}" selected="selected"> {{pass_det.label}} </option>
						{% else %}
							<option value="{{ pass_det.id }}"> {{pass_det.label}} </option>
						{% endif %}
					{% endfor %}
				</select>

			</td>

			<td> Passage details </td>

		</tr>



		<tr>
				
			<td> Sampling strategy </td>

			<td> 

				<select name = "sampling_strategy_id">
					{% for samp_strat in samp_strats %}
						{% if sample.sampling_strategy_id == samp_strat.id %}
							<option value="{{ samp_strat.id }}" selected="selected"> {{samp_strat.label}} </option>
						{% else %}
							<option value="{{ samp_strat.id }}"> {{samp_strat.label}} </option>
						{% endif %}
					{% endfor %}
				</select>

			</td>

			<td> Sampling details </td>

		</tr>





		<tr>
				
			<td> Host </td>

			<td> 

				<select name = "host_id">
					{% for host in hosts %}
						{% if sample.host_id == host.id %}
							<option value="{{ host.id }}" selected="selected"> {{host.display_label}} </option>
						{% else %}
							<option value="{{ host.id }}"> {{host.display_label}} </option>
						{% endif %}
					{% endfor %}
				</select>

			</td>

			<td> The host of the virus </td>

		</tr>


		<tr> 
			<td> Additional host information </td>
			<td> <input type="text" name="additional_host_info" value="{{ sample.additional_host_info }}"/>
			<td> Additional host information </td>
		</tr>




		<tr> 
			<td> Location </td>
			<td> <input type="text" name="location" value="{{ sample.location }}"/>
			<td> Location </td>
		</tr>


		<tr> 
			<td> Additional location information </td>
			<td> <input type="text" name="additional_location_info" value="{{ sample.additional_location_info }}"/>
			<td> Additional location information </td>
		</tr>



		<tr>
				
			<td> Patient age </td>
			<td> 
				<input type="number" name="patient_age" value="{{ sample.patient_age }}"
						min="0" max="100"/>
			</td>
			<td> The age of the patient </td>

		</tr>

		<tr>

			<td> Patient gender </td>
			<td>

				{% if sample.patient_gender == 'Male' %}
					<input type="radio" name="patient_gender" value="Male" checked="checked"/>
				{% else %}
					<input type="radio" name="patient_gender" value="Male"/>
				{% endif %}
					<label for name="patient_gender"> Male </label>


				{% if sample.patient_gender == 'Female' %}
					<input type="radio" name="patient_gender" value="Female" checked="checked"/>
				{% else %}
					<input type="radio" name="patient_gender" value="Female"/>
				{% endif %}
					<label for name="patient_gender"> Female </label>


			</td>
			<td> The gender of the patient </td>
		</tr>


		<tr>
			<td> Patient status </td>
			<td> <input type="text" name="patient_status" value="{{ sample.patient_status }}"
															maxlength=100 />
			<td> The status of the patient </td>
		</tr>


		<tr>
			<td> Coverage </td>
			<td>
				<input type="number" name="coverage" value="{{ sample.coverage }}" min="0" max="65000"/>
			</td>
			<td> Coverage of the sequence </td>
		</tr>



	</table>

	<input type="submit" value="Save"/>

</form>
