<form action="{{ url_for('samples_generate') }}" method="POST">

<table>

	<tr>
		<th> Select </th>
		<th> Name </th>
		<th> Collection date </th>

		<th> Details </th>
		<th> Edit </th>
	</tr>

	{% for sample in samples %}

		<tr>
			
			<td> <input type="checkbox" name="selected-samples" value="{{sample.sample_id}}"/>

			<td> {{ sample.sample_name }} </td>
			<td> {{ sample.collection_date }} </td>

			<td> 
				<input type="button" value="Details" onclick="displayDetails({{ sample.sample_id }})"/>
			</td>

			<td> 
				<input type="button" 
							 onclick="location.href='{{ url_for('samples_edit') }}?id={{sample.sample_id}}'"
							 value="Edit"/>
			</td>

		</tr>

	{% endfor %}


</table>

<input type="submit" value="Generate"/>

</form>


<input type="button"
			 onclick="location.href='{{ url_for('samples_edit') }}'"
			 value="Add"/>

<div class="prompt wrap" style="display: none;"> 

	<div id="sample-details" class="prompt data">

		<h4> Sample details </h4>	
	
		<table id="sample-details-table"> 
		</table>
		
		<input type="button" value="Hide" class="prompt hide" onclick="hideDetails()"/> 

	</div>

</div>
