{% macro radio(name, options, selected_value=0, classes=[], onchange="") %}

	{% for option in options %}

		<input type="radio" name="{{ name }}" 
				{{ "checked='checked'" if option.value|string == selected_value|string }} 
				{{ "class='"+classes|join(" ")+"'" }}
				{{ "onchange="+onchange if onchange else "" }}
				value="{{ option.value }}"/>
		<label for name="{{ name }}"/> {{ option.label }} </label>

	{% endfor %}

{% endmacro %}
