{% macro radio(name, options, selected_value=0, class="", onchange="") %}

	{% for option in options %}

		<input type="radio" name="{{ name }}" 
				{{ "checked='checked'" if option.value|string == selected_value|string }} 
				{{ "class="+class if class else "" }}
				{{ "onchange="+onchange if onchange else "" }}
				value="{{ option.value }}"/>
		<label for name="{{ name }}"/> {{ option.label }} </label>

	{% endfor %}

{% endmacro %}
