{% macro select(name, options, selected_id=0, classes=[], onchange="") %}

	<select name="{{ name }}" 
					{{ "class='"+classes|join(" ")+"'" }}
					{{ "onchange="+onchange if onchange else "" }} >

		<option value="0"> --------- </option>

		{% for option in options %}

		{% if selected_id == option.id %}
			<option value="{{ option.id }}" selected="selected"> {{ option.label }}	</option>
		{% else %}
			<option value="{{ option.id }}"> {{ option.label }}	</option>
		{% endif %}

		{% endfor %}

	</select>

{% endmacro %}

