<h3> Hosts </h3>

<form action="{{ url_for('hosts_submit') }}" method="POST">


	<table>

		<tr>
			<th> Host name </th>
			<th> Host scientific name </td>
		</tr>

		{% for host in hosts %}

			<tr>
				<td>
					<input type="text" name="hosts+{{host.id}}+label" maxlength="100" value="{{ host.label }}"/>
				</td>
				<td>
					<input type="text" name="hosts+{{host.id}}+latin" maxlength="100" value="{{ host.latin }}"/>
				</td>
			</tr>

		{% endfor %}

		<tr>
			<td>
				<input type="text" name="hosts+0+label" maxlength="100" value=""/>
			</td>
			<td>
				<input type="text" name="hosts+0+latin" maxlength="100" value=""/>
			</td>
		</tr>

	</table>

	<input type="submit" value="Save"/>

</form>



<h3> Sampling strategies </h3>


<form action="{{ url_for('samp_strats_submit') }}" method="POST">

	<table>
		
		<tr> 
			<th> Strategies </th>
		</tr>

		{% for ss in samp_strats %}
			
				<tr>
					<td>
						<input type="text" name="samp_strats+{{ ss.id }}+label"
															 value="{{ ss.label }}"
															maxlength="100"/>
					</td>
				</tr>

		{% endfor %}

		<tr>
			<td>
				<input type="text" name="samp_strats+0+label"
													 value=""
													maxlength="100"/>
			</td>
		</tr>

	</table>

	<input type="submit" value="Save"/>

</form>



<h3> Passage details </h3>
