<div class="options wrap">

	<div class="options form">

		<h3> Hosts list </h3>

		<form action="{{ url_for('hosts_submit') }}" method="POST">

			<table>

				<tr>
					<th> Host name </th>
					<th> Host scientific name </td>
				</tr>

				{% for host in hosts %}

					<tr>
						<td>
							<input type="text" name="hosts+{{host.id}}+label" maxlength="100" value="{{ host.label }}"/>
						</td>
						<td>
							<input type="text" name="hosts+{{host.id}}+latin" maxlength="100" value="{{ host.latin }}"/>
						</td>
					</tr>

				{% endfor %}

				<tr>
					<td>
						<input type="text" name="hosts+0+label" maxlength="100" value=""/>
					</td>
					<td>
						<input type="text" name="hosts+0+latin" maxlength="100" value=""/>
					</td>
				</tr>

			</table>

			<input type="submit" value="Save"/>

		</form>

	</div>


	<div class="options description">

		<h3> Hosts </h3>
	
		<p>
			Leggings chicharrones ennui glossier. Iceland unicorn keffiyeh cloud bread. Kogi meggings hammock, pickled affogato roof party authentic pop-up yr street art irony. Mixtape jean shorts cloud bread raw denim green juice tumblr leggings, chartreuse adaptogen succulents yr bespoke health goth edison bulb seitan.
		</p>

	</div>


</div>
