<div class="options wrap">

	<div class="options form">

		<h3> Passage details </h3>

		<form action="{{ url_for('passage_details_submit') }}" method="POST">

			<table>
				
				<tr> 
					<th> Passage details </th>
				</tr>

				{% for pd in passage_details %}
					
						<tr>
							<td>
								<input type="text" name="passage_details+{{ pd.id }}+label"
																	 value="{{ pd.label }}"
																	maxlength="100"/>
							</td>
						</tr>

				{% endfor %}

				<tr>
					<td>
						<input type="text" name="passage_details+0+label"
															 value=""
															maxlength="100"/>
					</td>
				</tr>

			</table>

			<input type="submit" value="Save"/>

		</form>


	</div>


	<div class="options description">
		<p>
Freegan air plant cold-pressed tilde skateboard umami. Selvage vice lumbersexual etsy, plaid photo booth chartreuse tilde messenger bag live-edge ennui raclette portland. Taxidermy echo park pok pok normcore. PBR&B organic marfa, four dollar toast subway tile before they sold out messenger bag pour-over retro lomo activated charcoal you probably haven't heard of them. Kickstarter wolf mustache
		</p>
	</div>


</div>
