
<div class="options wrap">

	<div class="options form">

		<h3> Sampling strategies </h3>

		<form action="{{ url_for('samp_strats_submit') }}" method="POST">

			<table>
				
				<tr> 
					<th> Strategies </th>
				</tr>

				{% for ss in samp_strats %}
					
						<tr>
							<td>
								<input type="text" name="samp_strats+{{ ss.id }}+label"
																	 value="{{ ss.label }}"
																	maxlength="100"/>
							</td>
						</tr>

				{% endfor %}

				<tr>
					<td>
						<input type="text" name="samp_strats+0+label"
															 value=""
															maxlength="100"/>
					</td>
				</tr>

			</table>

			<input type="submit" value="Save"/>

		</form>


	</div>


	<div class="options description">
		<p>
			I'm baby vexillologist snackwave selfies activated charcoal +1 hella helvetica literally migas kinfolk post-ironic butcher sartorial brooklyn. Everyday carry keytar plaid YOLO. Selfies tofu small batch, +1 cold-pressed asymmetrical fam craft beer. Semiotics cronut DIY sriracha 3 wolf moon occupy disrupt bitters photo booth etsy.
		</p>
	</div>


</div>
