<form action="{{ url_for('institutions_submit') }}" method="POST">

	<input type="hidden" name="id" value="{{ institution.id }}"/>

	<table>

		<tr>
			<th> Field </th>
			<th> Value </th>
			<th> Description </th>
		</tr>

		<tr>
			<td> Name </td>
			<td>
				<input type="text" name="name" value="{{ institution.name }}"/>
			</td>
			<td>
				<p> The name of the institution </p>
			</td>
		</tr>


		<tr>
			<td> Address </td>
			<td>
				<input type="text" name="street_address" value="{{ institution.street_address }}"/>
			</td>
			<td>
				<p> Where is the institution located? (Street, number, etc.) </p>
			</td>
		</tr>

		<tr>
			<td> Postal code </td>
			<td>
				<input type="text" name="postal_code"
						value="{{ institution.postal_code }}"
						pattern="[0-9]{6}"/>
			</td>
			<td>
				<p> The postal code of the address. Must contain exactly 6 digits. </p>
			</td>
		</tr>


		<tr>
			<td> City </td>
			<td>
				<input type="text" name="city" value="{{ institution.city }}"/>
			</td>
			<td>
				<p> City </p>
			</td>
		</tr>
	
		<tr>
			<td> County </td>
			<td>
				<input type="text" name="county" value="{{ institution.county }}"/>
			</td>
			<td>
				<p> County </p>
			</td>
		</tr>

		<tr>
			<td> Country </td>
			<td>
				<input type="text" name="country" value="{{ institution.country }}"/>
			</td>
			<td>
				<p> Country </p>
			</td>
		</tr>


	</table>

	<input type="submit" value="Submit"/>
	
	<input type="button" 
		onclick="location.href='{{ url_for('institutions_list') }}';"
		value="Back"/>

</form>
