#sample-list-table tr th, #sample-list-table tr td {
	border-bottom: 2px solid grey;
}


#sample-list-table tr:hover {
	background-color: #e1e1e1;
}

#sample-list-table tr td {
	padding: 1em;	
}



#sample-details-table {
	border: 0px;
}

#sample-details-table th, #sample-details-table td {
	border: 0px;
	padding: 0.6em 0.3em;
}

#sample-details-table td.prop{
	text-align: right;
	font-weight: bold;
}

#sample-details-table td.value{
	text-align: left;
}

.prompt.hide {
	display: block;
	font-weight: bold;
	margin-right: 1em;
	margin-left: auto;
}


.filegen.wrap {
	margin-top: 2em;
	background-color: var(--orange);
	border: 2px solid black;
	padding: 0.7em;
}


.add-buttons{
	margin-bottom: 2em;	
}
