<h1>Author groups</h1>

<table>

	<tr>
		<th> Group name </th>
		<th> Authors </th>
		<th> Members count </th>
		<th> Edit </th>
	</tr>

	{% for group in groups %}
	<tr>
		<td> {{group.group_name}} </td>
		<td> {{group.abbreviated_middle_names}} </td>
		<td> {{group.members_count}} </td>
		<td>
			<input type="button"
						 class="smbutton"
		 onclick="location.href='{{ url_for('author_groups_bp.edit') }}?id={{group.group_id}}'"
		 value="Edit"/>
		</td>
	</tr>
	{% endfor %}

</table>


<input type="button"
			 class="smbutton"
			 onclick="location.href='{{ url_for('author_groups_bp.edit') }}'"
			 value="Add"/>
