<table>

	<tr>
		<th> Project name </th>
		<th> Project title </th>
		<th> Alias </th>
		<th> Description </th>
		<th></th>
	</tr>

	{% for study in studies %}
	<tr>
		<td> {{ study.project_name }} </td>
		<td> {{ study.project_title }} </td>
		<td> {{ study.project_alias }} </td>
		<td> {{ study.project_description }} </td>
		<td> 
			<input type="button" value="Edit"
						 onclick="location.href='{{ url_for('edit_ena_studies') }}?id={{ study.id }}'"/>
		</td>
	</tr>
	{% endfor %}

</table>

<input type="button" value="Add"
			 onclick="location.href='{{ url_for('edit_ena_studies') }}'" />
