{% from 'macros/select.j2' import select %}



{% macro seqfile(info, dlist_extension, ftype=0) %}


	<input type="file" name="{{ info.input.multi_template }}">



	{{ select(info.input.multi_template,
						dlist_extension,
						selected_id=ftype) }}
	
	{% if info.input.value != "" and info.input.value != 0 %}
		<p> Has file: {{ info.input.value }} </p>
	{% endif %}

{% endmacro %}





{% macro seqfile_assembly(field, dlist_assembly_methods, onchange="") %}

	{{ select(field.input.multi_template,
						dlist_assembly_methods,
						selected_id=field.input.value,
						classes=field.input.classes,
						onchange=onchange) }}
	

{% endmacro %}
