body{
	margin: 1em 2em 1em 2em;
}

nav{
	border-bottom: 2px solid grey;
	margin-bottom: 2em;
}

nav a{
	text-decoration: none;
	color: green;
	font-size: 20pt;
	font-weight: bold;
	margin-right: 2em;
}

h1, h2{
	color: red;
}


table {
	margin-bottom: 1em;
	border-spacing: 0;
}

th{
	border-bottom: 1px solid black;
}

th, td {
	padding: 0.5em 2em;
	text-align: center;
}

form div.form-section div.form-input {
	margin-bottom: 0.5em;
}

footer {
	border-top: 2px solid grey;
}



td input, td select{
	width: 100%;
}

td input[type="radio"]{
	width: auto;
}
