<!DOCTYPE html>
<html>
	<head>
		<title> Manage sequencing data </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">	

		{% for style in styles %}
			
			{% set css_url = 'css/' + style %}
			<link rel="stylesheet" href="{{ url_for('static', filename=css_url) }}">

		{% endfor %}

	</head>

	<body>

		<nav>
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('search_database') }}">Search</a>
			<a href="{{ url_for('samples_list') }}">Samples</a>
			<a href="{{ url_for('authors_page') }}">Authors</a>
			<a href="{{ url_for('author_groups_list') }}">Groups</a>
			<a href="{{ url_for('institutions_list') }}">Institutions</a>
		</nav>

