<!DOCTYPE html>
<html>
	<head>
		<title> Manage sequencing data </title>

		<style>

			@font-face {
				font-family: "Archivo";
				src: url("{{ url_for('static', filename='assets/Archivo_Condensed-ExtraLight.ttf') }}") format("truetype");
			}

		</style>


		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">	

		{% for style in styles %}
			
			{% set css_url = 'css/' + style %}
			<link rel="stylesheet" href="{{ url_for('static', filename=css_url) }}">

		{% endfor %}

		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>


	</head>

	<body>

		<nav>
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('samples_list') }}">Samples</a>
			<a href="{{ url_for('authors_page') }}">Authors</a>
			<a href="{{ url_for('author_groups_list') }}">Groups</a>
			<a href="{{ url_for('institutions_list') }}">Institutions</a>
			<a href="{{ url_for('set_options_list') }}">Custom options</a>
		</nav>

