<form action="{{ url_for('submitted') }}" method="POST"> 

	<div class="form-section">

		<div class="form-input">
			<label for="sample-name"> Sample name: </label>
			<input type="text" name="sample-name"/>
		</div>

		<div class="form-input">
			<label for="sample-collection-date"> Registration date: </label>
			<input type="date" name="sample-collection-date"/>
		</div>

	</div>

	<div class="form-section">

		<div class="form-input">
			<label for="patient-name"> Patient name: </label>
			<input type="text" name="patient-name"/>
		</div>

		<div class="form-input">
			<label for="patient-gender"> Patient gender: </label>
			<input type="radio" id="male" name="patient-gender" value="male"/>
			<label for="male">Male</label>
			<input type="radio" id="female" name="patient-gender" value="female"/>
			<label for="female">Female</label>
		</div>

		<div class="form-input">
			<label for="patient-age"> Patient age: </label>
			<input type="text" name="patient-age"/>
		</div>

		<div class="form-input">
			<label for="patient-status"> Patient status: </label>
			<input type="text" name="patient-status"/>
		</div>


	</div>


	<input type="submit" value="Register">


</form>
