<h1>SeqMeta</h1>

<p> 
Here you can keep track of your sequencing metadata and format it to for upload to databases such as: GISAID, NCBI and ENA. 
</p>


<h3>Getting started:</h3>

<p>If you are new to the application, we recommend that you read trough the <a href="{{ url_for('misc_bp.workflow_basic') }}">workflows</a> first, to familiarize with the app.</p>


<h3>Quick links:</h3>
<ul>
	<li>
		<a href="https://github.com/alakob/Metagen-FastQC-Docker">Metagen-FastQC-Docker</a>, a containerized version of Metagen-FastQC to remove human identifiable reads from raw reads data. 
	</li>
	<li>
		<a href="https://www.nextflow.io/">Nextflow</a> a platform which enables scalable and reproducible scientific workflows using software containers. It is necessary to have for running nf-core/viralrecon.
	</li>
	<li>
		<a href="https://nf-co.re/viralrecon/2.1">nf-core/viralrecon v2.1</a> a bionformatics pipeline to perform assembly and intra-host/low-frequency variant calling for viral samples.
	</li>

</ul>

