<div class="option editor">

<div class="option edit">
	
	<h3>
		Isolate name ENA
	</h3>
	
	<form action="{{ url_for('misc_bp.submit_isolate_ena') }}" method="POST">
		<input type="text" name="virusname" style="width: 100%;" value="{{ virusname_format }}">
		<input type="submit" value="Save">
	</form>

</div>


<div class="option info">
	<p>
	Define template for the sample virusnames requiered by <em>ENA</em> and <em>NCBI</em>.
		The templator engine is Jinja2. 
		Specify database keys between the {{'{{ }}'}} symbols, like {{'{{ dbkey }}'}},
		these will be rendered from the metadata corresponding to the sample.
		Characters outside these symbols will be rendered as is.
		<em>Notice:</em> be carefull to use the exact keys specified in the following list,
		as any misspeled elements will be rendered as an empty string.
	</p>
	<p>
		<strong>
			Available database entries:
		</strong>
	</p>
	<ul>
		{% for item in available_db_keys %}
			<li> {{ item }} </li>
		{% endfor %}
	</ul>
</div>


</div>
