:root {
	--dark-green: #206a5d;
	--light-green: #81b214;
	--yellow: #ffcc29;
	--orange: #f58634;
}

html{
	height: 100%;
}

body{
	margin-top: 0;
	margin-left: 2em;
	margin-right: 2em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


div#page-wrap{
	padding: 2em 3em;
	height: 100%;
}


footer {
	bottom: 0;
	margin-top: auto;
	background-color: var(--dark-green);
	border-top: 5px solid var(--light-green);
	padding: 2em;
}


footer #footer-content{
	max-width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;	
	justify-content: space-evenly;
	align-items: center;
}


nav{
	background-color: var(--dark-green);
	border-bottom: 5px solid var(--light-green);
	padding: 1.5em;
	display: flex;
	justify-content: space-between;
}

nav a.menu{
	text-decoration: none;
	color: var(--light-green);
	font-size: 20pt;
	font-weight: bold;
	margin-right: 2em;
}

nav a.menu:hover{	
	color: var(--yellow);
}


h1, h2{
	color: var(--orange);
}

h3{
	color: var(--light-green);
}


table {
	margin-bottom: 1em;
	border-spacing: 0;
}

th{
	border-bottom: 1px solid black;
}

th, td {
	padding: 0.5em 2em;
	text-align: center;
}

form div.form-section div.form-input {
	margin-bottom: 0.5em;
}

#footer-content{
	width: 100%;
	padding: 2em;
	color: var(--light-green);
}


td input, td select{
	width: 100%;
}

td input[type="radio"]{
	width: auto;
}


.tooltip {
	border: 2px solid var(--light-green) !important;
}


.smbutton{
	background-color: var(--dark-green);
	border-radius: 5px;
	border: 1px solid var(--light-green);
	color: white;
	font-weight: bold;
	padding: 4px 6px;
}

.smbutton:hover{
	color: var(--yellow);
	border-color: var(--yellow);
}

.smbutton:disabled {
	border-color: var(--dark-green);
	background-color: lightgrey;
}
.smbutton:disabled:hover {
	color:white;

}



.smlist{
	margin-top: 2em;
}

.sminp-text{
	border: none;
	border-bottom: 2px solid grey;
}


a{
	color: var(--light-green);
}

a:visited{
	color: var(--dark-green);
}
