<h1>Samples editor</h1>

<form action="{{ url_for('samples_bp.submit') }}" method="POST">

	<input type="hidden" id="template-id" name="template_id" value="{{ template_id }}">
	<input type="hidden" id="sample-ids" value="{{ samples }}">

	<table id="sample-editor">
		<thead>
			<th class="attrname">Attribute</th>
			<th>Edit all</th>
			<th id="samples-header-cell" colspan="0" style="display: none;">Samples</th>
			<th>Description</th>
		</thead>
		<tbody>
		</tbody>
	</table>


	<input type="button" class="addnew" onclick="addSample();" value="Add">
	<input type="submit" value="Save">

</form>
