{% from "samples/editor/row.j2" import inpfield, editall %}

<h1>Editor</h1>

<input type="button" onclick="newSample();" value="Add">


<form action="{{ url_for('samples_bp.submit') }}" method="POST">

	<table id="samples-editor">

		<tr>
			<th>Field name</th>
			<th class="template column">Value</th>
			<th class="editall column">Edit all</th>
			<th class="description column">Description</th>
		</tr>

		<tr>
			<td>Sample name</td>
			<td class="template column">
				<input type="text" name="sample+new+0+name">
			</td>
			<td>Unique sample name</td>
			<td>Unique name of sample (only needed for pesonal use).</td>
		</tr>


		{% for attr in template.attributes %}
			<tr class="attr {{ attr.name }}">
				<td>{{ attr.name }}</td>
				<td class="template column">{{ inpfield(attr) }}</td>
				<td class="editall column">{{ editall(attr) }}</td>
				<td class="description column">{{ attr.description }}</td>
			</tr>
		{% endfor %}

	</table>


	<input type="submit" value="Save">

</form>
