{% macro inpfield(attr) %}

	{% set field_name = "sample+new+0+"+attr.name %}

	{% if attr.type_.value == "text" %}
		<input type="text" name="{{ field_name }}" onchange="updateTemplateFields();">
	{% elif attr.type_.value == "date" %}
		<input type="date" name="{{ field_name }}" onchange="updateTemplateFields();">
	{% elif attr.type_.value == "select" %}
		<select name="{{ field_name }}" onchange="updateTemplateFields();">
			{% for opt in attr.options %}
				<option value="{{ opt }}">{{ opt }}</option>
			{% endfor %}
		</select>
	{% elif attr.type_.value == "template" %}
	<input type="text" name="{{ field_name }}" class="template field" template-string="{{ attr.template }}" disabled="disabled">
	{% endif %}

{% endmacro %}




{% macro editall(attr) %}

	{% set field_name = "sample+editall+"+attr.form_name %}

	{% if attr.type_.value == "text" %}
		<input type="text" name="{{ field_name }}" onchange="editAll(this);">
	{% elif attr.type_.value == "date" %}
		<input type="date" name="{{ field_name }}" onchange="editAll(this);">
	{% elif attr.type_.value == "select" %}
		<select name="{{ field_name }}" onchange="editAll(this);">
			{% for opt in attr.options %}
				<option value="{{ opt }}">{{ opt }}</option>
			{% endfor %}
		</select>
	{% elif attr.type_.value == "template" %}
		<p>Template</p>
	{% endif %}


{% endmacro %}
