{% macro inpfield(attr) %}

	{% set field_name = "sample+new+0+"+attr.name %}

	{% if attr.type_.value == "text" %}
	<input type="text" name="{{ field_name }}" onchange="updateTemplateFields();" {{ "pattern='"+attr.pattern+"'" if attr.pattern != None else "" }} {{ "value='"+attr.default+"'" if attr.default != None else "" }}>
	{% elif attr.type_.value == "date" %}
		<input type="date" name="{{ field_name }}" onchange="updateTemplateFields();" {{ "value='"+attr.default+"'" if attr.default != None else "" }}>
	{% elif attr.type_.value == "select" %}
		<select name="{{ field_name }}" onchange="updateTemplateFields();">
			{% for opt in attr.options %}
				{% if opt == attr.default %}
					<option value="{{ opt }}" selected>{{ opt }}</option>
				{% else %}
					<option value="{{ opt }}">{{ opt }}</option>
				{% endif %}
			{% endfor %}
		</select>
	{% elif attr.type_.value == "template" %}
	<input type="text" name="{{ field_name }}" class="template field" template-string="{{ attr.template }}" disabled="disabled">
	{% endif %}

{% endmacro %}




{% macro editall(attr) %}

	{% set field_name = "sample+editall+"+attr.form_name %}

	{% if attr.type_.value == "text" %}
		<input type="text" name="{{ field_name }}" onchange="editAll(this);" {{ "pattern='"+attr.pattern+"'" if attr.pattern != None else "" }} {{ "value='"+attr.default+"'" if attr.default != None else "" }}>
	{% elif attr.type_.value == "date" %}
		<input type="date" name="{{ field_name }}" onchange="editAll(this);" {{ "value='"+attr.default+"'" if attr.default != None else "" }}>
	{% elif attr.type_.value == "select" %}
		<select name="{{ field_name }}" onchange="editAll(this);">
			{% for opt in attr.options %}
				<option value="{{ opt }}" {{ "selected='selected'" if attr.default == opt else "" }}>{{ opt }}</option>
			{% endfor %}
		</select>
	{% elif attr.type_.value == "template" %}
		<p>Template</p>
	{% endif %}


{% endmacro %}
