{% macro gisaid(requirement='mandatory') %}

	<span class="mark gisaid {{ requirement }}"><sup>GISAID</sup></span>

{% endmacro %}



{% macro ena(requirement='mandatory') %}

	<span class="mark ena {{ requirement }}"><sup>ENA</sup></span>

{% endmacro %}
