<tr>
	<td> Host health state {{ marker("ena") }}</td>
	<td>
		{{ select("host_health_state_id",
							host_health_states,
							selected_id=sample.host_health_state_id) }} 
	</td>
	<td>Health status of the host at the time of sample collection.</td>
</tr>

<tr>
	<td>Hospitalisation {{ marker("ena", requirement="optional") }}</td>
	{% set hosps=[{"label": "Yes", "value":"Yes"}, 
								{"label": "No", "value": "No"}, 
								{"label": "N/A", "value":"N/A"}] %}
	<td> {{ radio("hospitalization", hosps, selected_value=sample.hospitalization) }} </td>
	<td>Was the subject confined to a hospital as a result of virus infection or problems occurring secondary to virus infection?</td>
</tr>


<tr>
	<td>Ilness duration {{ marker("ena", requirement="optional") }}</td>
	<td>
		<input type="number" name="ilness_duration" min="0"
			value="{{ sample.ilness_duration }}"/>
	</td>
	<td>The number of days the illness lasted. Example: 4.</td>
</tr>


<tr>
	<td>Ilness symptoms {{ marker("ena", requirement="optional") }}</td>
	<td>
		<input type="text" name="ilness_symptoms" value="{{ sample.ilness_symptoms }}"/>
	</td>
	<td>The symptoms that have been reported in relation to the illness, such as cough, diarrhea, fever, headache, malaise, myalgia, nausea, runny_nose, shortness_of_breath, sore_throat. If multiple exposures are applicable, please state them separated by semicolon.</td>
</tr>


<tr>
	<td> Treatment {{ marker("gisaid", requirement="optional") }} </td>
	<td> <input type="text" name="treatment" value="{{ sample.treatment }}"/> </td>
	<td> Include drug name, dosage. </td>
</tr>


<tr>
	<td>Host disease outcome {{ marker("gisaid", requirement="recommended") }}</td>
	<td> {{ select("host_disease_outcome_id",
					host_disease_outcomes,
					selected_id=sample.host_disease_outcome_id) }} </td>
	<td>Disease outcome in the host.</td>
</tr>
