<tr>
	<td> Continent {{ marker('gisaid') }}</td>
	<td> {{ select("location+continent_id", continents, selected_id=sample.continent_id) }} </td>
	<td> The geographical location of the sample as defined by the continent. </td>
</tr>


<tr>
	<td> Country {{ marker('gisaid') }} {{ marker('ena') }}</td>
	<td> {{ select("location+country_id", countries, selected_id=sample.country_id) }} </td>
	<td> The geographical origin of the sample as defined by the country or sea. Country or sea names should be chosen from the <a href="http://insdc.org/country.html">INSDC country list</a></td>
</tr>


<tr>
	<td> Region {{ marker('gisaid', requirement='recommended') }} 
		{{ ena(requirement='recommended') }}</td>
	<td>
		<input type="text" name="location+region" maxlength="200" 
			value="{{ sample.region }}"/>	
	</td>
	<td> The geographical location of the sample as defined by the region. </td>
</tr>


<tr>
	<td> Locality {{ marker('gisaid', requirement='recommended') }} 
		{{ ena(requirement='recommended') }}</td>
	<td>
		<input type="text" name="location+locality" maxlength="200" 
			value="{{ sample.locality }}"/>	
	</td>
	<td> The geographical location of the sample as defined by the locality. </td>
</tr>


<tr>
	<td> Additional location information {{ marker('gisiad', requirement='optional') }} </td>
	<td> <input type="text" name="location+additional_info"
													value="{{ sample.additional_location_info }}"/> </td>
	<td> <em> e.g. Cruise ship, Convention, Live animal market </em> </td>
</tr>


<tr>
	<td>Geographic location (latitude) (DD) {{ marker("ena", requirement="recommended") }}</td>
	<td>
		<input type="number" name="location+geo_loc_latitude"
												 min="-90" max="90" step="0.1"
												 value="{{ sample.geo_loc_latitude }}"/>	
	</td>
	<td>The geographical origin of the sample as defined by latitude. Minimum value: -90 and maximum value: 90.</td>
</tr>


<tr>
	<td>Geographic location (longitude) (DD) {{ marker("ena", requirement="recommended") }}</td>
	<td>
		<input type="text" name="location+geo_loc_longitude" 
											 min="-180" max="180" step="0.1"
											 value="{{ sample.geo_loc_longitude }}"/>
	</td>
	<td>The geographical origin of the sample as defined by longitude. Minimum value: -180 and maximum value: 180.</td>
</tr>





