<tr>
	<td> Continent {{ marker('gisaid') }}</td>
	<td> {{ select("continent_id", continents, selected_id=sample.continent_id) }} </td>
	<td> Continent </td>
</tr>

<tr>
	<td> Country {{ marker('gisaid') }} {{ marker('ena') }}</td>
	<td> {{ select("country_id", countries, selected_id=sample.country_id) }} </td>
	<td> The geographical origin of the sample as defined by the country or sea. Country or sea names should be chosen from the <a href="http://insdc.org/country.html">INSDC country list</a></td>
</tr>

<tr>
	<td> Region {{ marker('gisaid', requirement='recommended') }} 
		{{ ena(requirement='recommended') }}</td>
	<td>
		<input type="text" name="county" maxlength="200" value="{{ sample.county }}"/>	
	</td>
	<td> County </td>
</tr>

<tr>
	<td> Locality {{ marker('gisaid', requirement='recommended') }} 
		{{ ena(requirement='recommended') }}</td>
	<td>
		<input type="text" name="city" maxlength="200" value="{{ sample.city }}"/>	
	</td>
	<td> City </td>
</tr>


<tr>
	<td> Additional location information {{ marker('gisiad', requirement='optional') }} </td>
	<td> <input type="text" name="additional_location_info" value="{{ sample.additional_location_info }}"/> </td>
	<td> <em> e.g. Cruise ship, Convention, Live animal market </em> </td>
</tr>


<tr>
	<td>Geographic location (latitude) (DD) {{ marker("ena", requirement="recommended") }}</td>
	<td>
		<input type="text" name="geo_loc_latitude" 
				value="{{ sample.geo_loc_latitude }}"
				pattern="(^.*[+-]?[0-9]+.?[0-9]*.*$)|(^not collected$)|(^not provided$)|(^restricted access$)"/>	
	</td>
	<td>The geographical origin of the sample as defined by latitude and longitude. The values should be reported in decimal degrees and in WGS84 system. REGEX: (^.*[+-]?[0-9]+.?[0-9]*.*$)|(^not collected$)|(^not provided$)|(^restricted access$)</td>
</tr>


<tr>
	<td>Geographic location (longitude) (DD) {{ marker("ena", requirement="recommended") }}</td>
	<td>
		<input type="text" name="geo_loc_longitude" 
				value="{{ sample.geo_loc_longitude }}"
				pattern="(^.*[+-]?[0-9]+.?[0-9]*.*$)|(^not collected$)|(^not provided$)|(^restricted access$)"/>	
	</td>
	<td>The geographical origin of the sample as defined by latitude and longitude. The values should be reported in decimal degrees and in WGS84 system. REGEX: (^.*[+-]?[0-9]+.?[0-9]*.*$)|(^not collected$)|(^not provided$)|(^restricted access$)</td>
</tr>





