{% from "macros/select.j2" import select %}

<h1>Add/edit institution</h1>

<form action="{{ url_for('institutions_bp.submit') }}" method="POST" class="smbasicform">

	<input type="hidden" name="id" value="{{ institution.id }}"/>

	<table>

		<tr>
			<td> 
				<strong>
					Name 
				</strong>
			</td>
			<td>
				<input type="text" 
							 name="name" class="sminp-text"
							 value="{{ institution.name }}"/>
			</td>
			<td>
				<p> The name of the institution </p>
			</td>
		</tr>


		<tr>
			<td>
				<strong>
					Address 
				</strong>
			</td>
			<td>
				<input type="text"
								name="street_address" class="sminp-text"
								value="{{ institution.street_address }}"/>
			</td>
			<td>
				<p> Where is the institution located? (Street, number, etc.) </p>
			</td>
		</tr>

		<tr>
			<td> 
				<strong>
					Postal code 
				</strong>
			</td>
			<td>
				<input type="text" name="postal_code" class="sminp-text"
						value="{{ institution.postal_code }}"
						pattern="[0-9]{6}"/>
			</td>
			<td>
				<p> The postal code of the address. Must contain exactly 6 digits. </p>
			</td>
		</tr>


		<tr>
			<td> 
				<strong>
					Locality 
				</strong>
			</td>
			<td>
				<input type="text" 
							 name="locality" class="sminp-text"
							 value="{{ institution.locality }}"/>
			</td>
			<td>
				<p> Locality </p>
			</td>
		</tr>
	
		<tr>
			<td> 
				<strong>
					Region 
				</strong>
			</td>
			<td>
				<input type="text" 
							name="region" class="sminp-text"
							value="{{ institution.region }}"/>
			</td>
			<td>
				<p> Region </p>
			</td>
		</tr>

		<tr>
			<td> 
				<strong>
					Country 
				</strong>
			</td>
			<td>
				{{ select("country_id", countries, selected_id=institution.country_id,
				classes=["sminp-text"]) }}
			</td>
			<td>
				<p> Country </p>
			</td>
		</tr>
		

		<tr>
			<td> 
				<strong>
					Symbol 
				</strong>
			</td>
			<td>
				<input type="text" name="symbol" class="sminp-text"
				value="{{ institution.symbol }}"/>
			</td>
			<td>
				<p> Symbol for the instituion to be used in virusname or isolate name template.</p>
			</td>
		</tr>


	</table>


	<div class="buttons">

		<input type="submit" class="smbutton" value="Save"/>
		
		<input type="button" 
					 class="smbutton"
			onclick="location.href='{{ url_for('institutions_bp.show') }}';"
			value="Back"/>

	</div>
</form>
