<h1>Institutions</h1>

<table>

	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Symbol</th>
		<th>Edit</th>
	</tr>

	{% for institution in institutions %}
	<tr>
		<td>{{ institution.name }}</td>
		<td>{{ institution.address }}</td>
		<td>{{ institution.symbol }}</td>
		<td>
			<input type="button"
						 class="smbutton"
						 onclick="location.href='{{ url_for('institutions_bp.edit') }}?id={{institution.id}}'"
						 value="Edit"/>
		</td>
	</tr>
	{% endfor %}

</table>


<input type="button"
			 class="smbutton"
	onclick="location.href='{{ url_for('institutions_bp.edit') }}'"
	value="Add"/>
