{% macro inpdate(dets, type="single") %}

{% set minval="min='"+dets.min|string+"'" 
	if dets.min != "" else "" %}
{% set maxval="max='"+dets.max|string+"'" 
	if dets.max != "" else "" %}
{% set onhangefunc="onchange='"+dets.onchange+"'" 
	if dets.onchange else "" %}

{% set name = "" %}
{% if type == "single" %}
	{% set name = dets.name_single %}
{% elif type == "multi_all" %}
	{% set name = dets.multi_all %}
{% elif type == "multi_template" %}
	{% set name = dets.multi_template %}
{% elif type == "defaults" %}
	{% set name = dets.defaults %}
{% endif %}

<input type="date"
			 name="{{ name }}"
			 	class="{{ dets.class }}"
				value="{{ dets.value }}"
				{{ minval }} 
				{{ maxval }} 
				{{ dets.onchangefunc }}/>


{% endmacro %}
