{% macro inpnumber(dets, type="single") %}

{% set min="min='"+dets.min|string+"'" 
	if dets.min != "" else "" %}
{% set max="max='"+dets.max|string+"'" 
	if dets.max != "" else "" %}
{% set onchangefunc="onchange='"+dets.onchange+"'" 
	if dets.onchange != "" else "" %}

{% set name = "" %}
{% if type == "single" %}
	{% set name = dets.name_single %}
{% elif type == "multi_all" %}
	{% set name = dets.multi_all %}
{% elif type == "multi_template" %}
	{% set name = dets.multi_template %}
{% elif type == "defaults" %}
	{% set name = dets.defaults %}
{% endif %}

<input type="number"
			 name="{{ name }}"
			 step="{{ dets.step }}"
			 	class="{{ dets.class }}"
				value="{{ dets.value }}"
				{{ min }} 
				{{ max }} 
				{{ onchangefunc }}/>


{% endmacro %}
