{% macro inptext(dets, type="single") %}

{% set maxlen="maxlength='"+dets.maxlength|string+"'" 
	if dets.maxlength > 0 else "" %}
{% set onchangefunc="onchange='"+dets.onchange|string+"'" 
	if dets.onchange != "" else "" %}

{% set name = "" %}
{% if type == "single" %}
	{% set name = dets.name_single %}
{% elif type == "multi_all" %}
	{% set name = dets.multi_all %}
{% elif type == "multi_template" %}
	{% set name = dets.multi_template %}
{% elif type == "defaults" %}
	{% set name = dets.db_key %}
{% endif %}


{% if dets.maxlength < 800 %}
<input type="text"
			 name="{{ name }}"
			 	class="{{ dets.classes|join(" ") }}"
				value="{{- dets.value -}}"
				{{ maxlen }} 
				{{ onchangefunc }}/>
{% else %}
<textarea 
				name="{{ name }}" 
			 	class="{{ dets.classes|join(" ") }}"
				{{ maxlen }} 
				{{ onchangefunc }}
				cols="50">
{% if dets.value != None %}
	{{- dets.value -}}
{% endif %}
</textarea>
{% endif %}


{% endmacro %}
