<input type="button" value="Add" onclick="addNewRow();"/>

<form action="{{ url_for('samples_bp.submit_multiple') }}" method="POST">

	<div class="table-wrap">

		<table id="samples-editor">
			<tr>
				<th>Sample name</th>
				<th>Sample comment</th>
				<th>Collection date: year</th>
				<th>Collection date: month</th>
				<th>Collection date: day</th>
				<th>Colletor name</th>
				<th>Continent</th>
				<th>Country</th>
				<th>Region</th>
				<th>Locality</th>
				<th>Additional location information </th>
				<th>Geographic location (latitude) DD </th>
				<th>Geographic location (longitude) DD </th>
				<th>Host</th>
				<th>Host subject ID</th>
				<th>Host additional information</th>
				<th>Patient gender</th>
				<th>Patient age</th>
				<th>Patient status</th>
				<th>Last vaccinated</th>
				<th>PPE</th>
				<th>Host habitat</th>
				<th>Host behaviour</th>
				<th>Host description</th>
				<th>Host gravidity</th>
				<th>Outbreak</th>
				<th>Subject exposure</th>
				<th>Subject exposure duration</th>
				<th>Type exposure</th>
				<th>Host health state</th>
				<th>Hospitalisation</th>
				<th>Ilness duration</th>
				<th>Ilness symptoms</th>
				<th>Treatment</th>
				<th>Host disease outcome</th>
				<th>Sequencing instrument</th>
				<th>Assembly method</th>
				<th>Coverage</th>
				<th>Originating lab</th>
				<th>Sample ID given by originating lab</th>
				<th>Submitting lab</th>
				<th>Sample ID given by submitting lab</th>
				<th>Author group</th>
				<th>Sampling strategy</th>
				<th>Passage details</th>
				<th>Isolate</th>
				<th>Strain</th>
				<th>Isolation source host-associated</th>
				<th>Isolation source non-host-associated</th>
				<th>Sample capture status</th>
				<th>Specimen source</th>
				<th>Sample storage conditions</th>
				<th>Definition for seropositive sample</th>
				<th>Serotype</th>
				<th>Library ID</th>
				<th>Library strategy</th>
				<th>Library source</th>
				<th>Library selection</th>
				<th>Library layout</th>
				<th>Library design description</th>
				<th>Library preparation date</th>
			</tr>

			{% include("samples/multiple/all.html") %}
			{% include("samples/multiple/template.html") %}

		</table>

	</div>

	<input type="submit" value="Save"/>

</form>
