{% from 'macros/select.j2' import select %}

<input type="button" value="Add" onclick="addNewRow();"/>


<div class="editor wrap">
	<div class="editor row header">
		<span>Sample name</span>
		<span>Collection date: year</span>
		<span>Collection date: monspan</span>
		<span>Collection date: day</span>
		<span>Colletor name</span>
		<span>Continent</span>
		<span>Country</span>
		<span>Region</span>
		<span>Locality</span>
	</div>

	<div class="editor row all">
		<span>
			<input type="text" readonly/>
		</span>
		<span>
			<input type="number" min="2019" name="collection+year"/>
		</span>
		<span>
			<input type="number" min="0" max="12" name="collection+month"/>
		</span>
		<span>
			<input type="number" min="0" max="31" name="collection+day"/>
		</span>
		<span>
			{{ select("collection+collector_id", authors) }}
		</span>
		<span>
			{{ select("location+continent_id", continents) }}
		</span>
		<span>
			{{ select("location+country_id", countries) }}
		</span>
		<span>
			<input type="text" name="location+region" maxlength="200"/>	
		<1/span>
		<span>
			<input type="text" name="location+locality" maxlength="200"/>	
		</span>
	</div>

	<div class="editor row hidden">
		<span>
			<input type="text" readonly/>
		</span>
		<span>
			<input type="number" min="2019" name="collection+year"/>
		</span>
		<span>
			<input type="number" min="0" max="12" name="collection+month"/>
		</span>
		<span>
			<input type="number" min="0" max="31" name="collection+day"/>
		</span>
		<span>
			{{ select("collection+collector_id", authors) }}
		</span>
		<span>
			{{ select("location+continent_id", continents) }}
		</span>
		<span>
			{{ select("location+country_id", countries) }}
		</span>
		<span>
			<input type="text" name="location+region" maxlength="200"/>	
		</span>
		<span>
			<input type="text" name="location+locality" maxlength="200"/>	
		</span>
	</div>



