{% macro import_from_other(samples, form_type="") %}

</br>

{% if samples|length == 0 %}
	<p>No samples available to import data from.</p>
{% else %}
	<select id="import-from-sample">


			{% for sample in samples %}
				<option value="{{ sample.sample_id }}">
					{{ sample.sample_name }} : {{ sample.sample_comment|truncate(150) }}
				</option>
			{% endfor %}
		
	</select>

	{% if form_type == "add" %}
		<input type="button" class="smbutton" value="Import from" onclick="importDataFromOtherSample();"/>
	{% elif form_type == "edit" %}
		<input type="button" class="smbutton" value="Import from" onclick="importDataFromOtherToAll();"/>
	{% endif %}

{% endif %}

</br>

{% endmacro %}
