<input type="button"
			 onclick="location.href='{{ url_for('samples_bp.edit') }}'"
			 value="Add"/>


<form action="{{ url_for('samples_bp.generate') }}" method="POST">

<table>

	<tr>
		<th> Select </th>
		<th> Name </th>
		<th> Collection date </th>

		<th> Author group </th>
		<th> Has assembly file </th>

		<th> Details </th>
		<th> Edit </th>
	</tr>

	{% for sample in samples %}

		<tr>
			
			<td> <input type="checkbox" name="selected-samples" value="{{sample.sample_id}}"/>

			<td> {{ sample.sample_name }} </td>
			<td> {{ sample.collection_date }} </td>

			<td> {{ sample.group_name }} </td>

			<td>
				{% if sample.assemblies_count == 1 %}
					Yes
				{% elif sample.assemblies_count == 0 %}
					No
				{% else %}
					Something went wrong
				{% endif %}

			<td>

			<td> 
				<input type="button" value="Details" onclick="displayDetails({{ sample.sample_id }})"/>
			</td>

			<td> 
				<input type="button" 
							 onclick="location.href='{{ url_for('samples_bp.edit') }}?id={{sample.sample_id}}'"
							 value="Edit"/>
			</td>

		</tr>

	{% endfor %}


</table>

	<div class="filegen wrap">

		<label for name="submission_types"> GISAID </label>
		<input type="checkbox" name="submission_types" 
													 value="gisaid"/>
		<input type="text" name="submission_filename_gisaid"
						value="" 
						placeholder="datetime.now()_gisaid"/>


		<label for name="submission_types"> ENA </label>
		<input type="checkbox" name="submission_types"
												 value="ena"/>
		<input type="text" name="submission_filename_ena"
					value="" 
					placeholder="ena_file_name"/>



		<label for name="submission_types"> NCBI </label>
		<input type="checkbox" name="submission_types"
												 value="ncbi"/>
		<input type="text" name="submission_filename_ncbi"
					value="" 
					placeholder="ncbi_file_name"/>


		<input type="submit" value="Generate"/>

	</div>


</form>



<div class="prompt wrap" style="display: none;"> 

	<div id="sample-details" class="prompt data">

		<h4> Sample details </h4>	
	
		<table id="sample-details-table"> 
		</table>
		
		<input type="button" value="Hide" class="prompt hide" onclick="hideDetails()"/> 

	</div>

</div>
