<input type="button"
			 onclick="location.href='{{ url_for('samples_bp.edit') }}'"
			 value="Add"/>

<input type="button"
			 onclick="location.href='{{ url_for('samples_bp.add_multiple') }}'"
			 value="Add multiple"/>



<form action="{{ url_for('samples_bp.generate') }}" method="POST">

<table>

	<tr>
		<th> Select </th>
		<th> Name </th>
		<th> Collection date </th>

		<th> Author group </th>
		<th> Has assembly file </th>

		<th>Virusname GISAID</th>
		<th>Isolate ENA</th>

		<th> Comment </th>
		<th> Details </th>
		<th> Edit </th>
	</tr>

	{% for sample in samples %}

		<tr>
			
			<td> 
				<input type="checkbox" name="selected-samples" value="{{sample.sample_id}}"/>
			</td>

			<td> {{ sample.sample_name }} </td>
			<td> {{ sample.collection_date }} </td>

			<td> {{ sample.group_name }} </td>

			<td>
				{% if sample.seqfiles.assembly_file.exists %}
					Yes
				{% else %}
					No
				{% endif %}
			</td>

			<td>
				{{ sample.gisaid_virusname }}
			</td>

			<td>
				{{ sample.isolate }}
			</td>

			<td>
				{{ sample.sample_comment }}
			</td>


			<td> 
				<input type="button" value="Details" onclick="displayDetails({{ sample.sample_id }})"/>
			</td>

			<td> 
				<input type="button" 
							 onclick="location.href='{{ url_for('samples_bp.edit') }}?id={{sample.sample_id}}'"
							 value="Edit"/>
			</td>

		</tr>

	{% endfor %}


</table>

	<div class="filegen wrap">

		<h4> Generate metadata for upload: </h4>

		<input type="submit" value="GISAID" 
						formaction="{{ url_for( 'samples_bp.gen_gisaid_meta' ) }}"/>

		<input type="submit" value="ENA" 
						formaction="{{ url_for( 'samples_bp.gen_ena_meta' ) }}"/>

		<input type="submit" value="NCBI" 
						formaction="{{ url_for( 'samples_bp.gen_ncbi_meta' ) }}"/>

		<input type="submit" value="Concat Fasta files"
						 formaction="{{ url_for( 'samples_bp.gen_concat_assemblies' ) }}"/>

	</div>


</form>



<div class="prompt wrap" style="display: none;"> 

	<div id="sample-details" class="prompt data">

		<h4> Sample details </h4>	
	
		<table id="sample-details-table"> 
		</table>
		
		<input type="button" value="Hide" class="prompt hide" onclick="hideDetails()"/> 

	</div>

</div>
