<h1>Uploading to NCBI</h1>

<p>
Download the `.zip` file as described in the guide. This zip file contains the 
following files:
</p>
<ul>
	<li><strong>samples.xlsx</strong>, this file contains the metadata of the samples.</li>
	<li><strong>sra.xlsx</strong>, this file contains the metadata of the sequencing reads.</li>
	<li><strong>reads directory</strong>this directory contains the raw reads data.</li>
</ul>


<p>Submitting files to NCBI:</p>
<p>(It is assumed that you have already have an NCBI account.)</p>
<ol>
	<li>Start the upload SRA process.</li>
	<li>Create the studies and authors list.</li>
	<li>When prompted at step 5. upload the samples.xlsx file.</li>
	<li>In the next step submit the sra.xlsx file.</li>
	<li>Upload the raw reads files from the reads directory.</li>
</ol>
