<div id="files-check" class="mini-editor">

	<h4>Upload files</h4>
	<div>
		<input type="checkbox" name="submission_files+0+gisaid_assembly" data-ftype="assembly" data-repo="gisaid" onchange="TEMPLATE_EDITOR.switchUploadFiles(this);"/>
		<label for="submission_files+0+gisaid_assembly">GISAID assembly</label>
	</div>
	<div>
		<input type="checkbox" name="submission_files+0+ena_reads" data-ftype="read" data-repo="ena" onchange="TEMPLATE_EDITOR.switchUploadFiles(this);"/>
		<label for="submission_files+0+ena_reads">ENA reads</label>
	</div>
	<div>
		<input type="checkbox" name="submission_files+0+ena_scaffolds" data-ftype="scaffolds" data-repo="ena" onchange="TEMPLATE_EDITOR.switchUploadFiles(this);"/>
		<label for="submission_files+0+ena_scaffolds">ENA scaffold</label>
	</div>
	<div>
		<input type="checkbox" name="submission_files+0+ena_contigs" data-ftype="contigs" data-repo="ena" onchange="TEMPLATE_EDITOR.switchUploadFiles(this);"/>
		<label for="submission_files+0+ena_contigs">ENA contig</label>
	</div>

</div>
