<!DOCTYPE html>
<html>
	<head>
		<title> SeqMeta </title>

		<style>

			@font-face {
				font-family: "Archivo";
				src: url("{{ url_for('static', filename='assets/Archivo_Condensed-ExtraLight.ttf') }}") format("truetype");
			}

		</style>


		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">	

		{% for style in styles %}

			{% if "prefix" in style %}
				{% set css_filename = style.prefix + "/css/" + style.filename %}	
			{% else %}
				{% set css_filename = "css/" + style.filename %}
				{% set css_url = url_for("static", filename=css_filename) %}
			{% endif %}
			
			<link rel="stylesheet" href="{{ url_for('static', filename=css_filename) }}">

		{% endfor %}

		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

		{% if jquery %}
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		{% endif %}

	</head>

	<body>

		<nav>
			<a href="{{ url_for('home_bp.home') }}"><img src="/favicon.ico"></a>
			
			<a href="{{ url_for('samples_bp.show') }}">Samples</a>
			<a href="{{ url_for('authors_bp.show') }}">Authors</a>
			<a href="{{ url_for('author_groups_bp.show') }}">Groups</a>
			<a href="{{ url_for('institutions_bp.show') }}">Institutions</a>
			<a href="{{ url_for('misc_bp.edit') }}">Misc</a>
			<a href="{{ url_for('misc_bp.edit_default_values') }}">Default vals</a>
			{#
			<a href="{{ url_for('view_ena_studies') }}">ENA Studies</a>
			#}
		</nav>

