{% macro popup(wrap_class="", wrap_id="") %}

	<div class="popup wrap {{wrap_class}}" >

		<div class="popup body">

			<h3>Title</h3>

			<div class="popup content">
			</div>

		</div>

	</div>

{% endmacro %}
