{% macro inpnumber(dets, type="single") %}

{% set min="min='"+dets.min|string+"'" 
	if dets.min != "" else "" %}
{% set max="max='"+dets.max|string+"'" 
	if dets.max != "" else "" %}
{% set onhangefunc="onchange='"+dets.onchange+"'" 
	if dets.onchange else "" %}

{% set name = "" %}
{% if type == "single" %}
	{% set name = dets.name_single %}
{% endif %}

<input type="number"
			 name="{{ name }}"
			 step="{{ dets.step }}"
			 	class="{{ dets.class }}"
				value="{{ dets.value }}"
				{{ min }} 
				{{ max }} 
				{{ dets.onchangefunc }}/>


{% endmacro %}
