<tr class="template-row">
	<td class="name column">
		<input type="text" class="attr field" name="attr+0+name">
	</td>

	<td class="label column">
		<input type="text" class="attr field" name="attr+0+label">
	</td>

	<td class="type column">
		<select name="attr+0+type_" class="attr field fieldtype" onchange="changedType(this.parentElement.parentElement, this.value);">
			<option value="text">text</option>
			<option value="select">select</option>
			<option value="date">date</option>
			<option value="template">template</option>
		</select>
	</td>

	<td class="ena column">
		<label for="attr+0+ena_name">Upload name</label>
		<input type="text" class="attr field repo fieldname" name="attr+0+ena_name">

		<select name="attr+0+ena_requirement" class="attr field repo requirement" onchange="changedRequirement(this);">
			<option value="exclude">Exclude</option>
			<option value="optional">Optional</option>
			<option value="recommended">Recommended</option>
			<option value="mandatory">Mandatory</option>
		</select>
	</td>

	<td class="extra column">
		<label for="attr+0+pattern">Regex:</label>
		<input type="text" class="attr field" name="attr+0+pattern">
	</td>

	{#
	<td class="options column">
		<input type="text" class="attr field" name="attr+0+options" disabled="disabled" onchange="updateDefaultCell(this.parentElement.parentElement);">
	</td>

	<td class="template column">
		<input type="text" class="attr field" name="attr+0+template" disabled="disabled">
	</td>
	#}

	<td class="default column">
		<input type="text" name="attr+0+default">
	</td>

	<td class="description column">
		<input type="text" class="attr field" name="attr+0+description">
	</td>

	<td class="rmrow column">
		<input type="button" name="rmbutton" onclick="removeTemplateRow(this.parentElement.parentElement);" value="X">
	</td>

</tr>
