<tr class="template-row">
	<td class="name column">
		<input type="text" name="attr+0+name">
	</td>

	<td class="label column">
		<input type="text" name="attr+0+label">
	</td>

	<td class="type column">
		<select name="attr+0+type_" onchange="changedType(this.parentElement.parentElement, this.value);">
			<option value="text">text</option>
			<option value="select">select</option>
			<option value="date">date</option>
			<option value="template">template</option>
		</select>
	</td>

	<td class="pattern column">
		<input type="text" name="attr+0+pattern">
	</td>

	<td class="options column">
		<input type="text" name="attr+0+options" disabled="disabled">
	</td>

	<td class="template column">
		<input type="text" name="attr+0+template" disabled="disabled">
	</td>

	<td class="default column">
		<input type="text" name="attr+0+default">
	</td>

	<td class="description column">
		<input type="text" name="attr+0+description">
	</td>

</tr>
