<tr class="template-row">
	<td>
		<input type="text" name="attr+0+name">
	</td>

	<td>
		<select name="attr+0+type_" onchange="changedType(this);">
			<option value="text">text</option>
			<option value="select">select</option>
			<option value="template">template</option>
		</select>
	</td>

	<td>
		<input type="text" name="attr+0+pattern">
	</td>

	<td>
		<input type="text" name="attr+0+options" disabled="disabled">
	</td>

	<td>
		<input type="text" name="attr+0+template" disabled="disabled">
	</td>

	<td>
		<input type="text" name="attr+0+default">
	</td>

	<td>
		<input type="text" name="attr+0+description">
	</td>

</tr>
