<h1>Templates</h1>

<table id="templates-view" class="view">

	<tr>
		<th>Name</th>
		<th>Attributes</th>
		<th>Short description</th>
		<th>Edit</th>
	</tr>

	{% for template in templates %}
		<tr>
			<td class="title">{{ template.name }}</td>
			<td>{{ template.attribute_count }}</td>
			<td>{{ template.short_description }}</td>
			<td><input type="button" onclick="location.href='{{ url_for('formtemplate_bp.edit', name=template.name) }}';" value="Edit"></td>
		</tr>
	{% endfor %}

</table>


<input type="button" onclick="location.href='{{ url_for('formtemplate_bp.edit') }}';" value="Create new">
