{% from "/macros/select.j2" import select %}
{% from "/macros/radio.j2" import radio %}

<tr class="editor row all">

	<td>
		<p> <strong> Edit all samples </strong> </p>
	</td>
	
	<td>
		<p> Commment for sample </p>
	</td>
	

	<td>
		<input type="number" min="2019" name="collection-year-all" 
				class="collection-year" onchange="updateColumn(this);"/>
	</td>
	
	<td>
		<input type="number" min="0" max="12" name="collection-month-all"
				class="collection-month" onchange="updateColumn(this);"/>
	</td>
	
	<td>
		<input type="number" min="0" max="31" name="collection-day-all"
				class="collection-day" onchange="updateColumn(this);"/>
	</td>
	
	<td>
		{{ select("collection-collector_id-all", authors,
							class="collector-name", onchange="updateColumnSelect(this);") }}
	</td>
	

	<td>
		{{ select("location-continent_id", continents, 
							class="continent", onchange="updateColumnSelect(this);") }}
	</td>
	
	<td>
		{{ select("location-country_id-all", countries,
							class="country", onchange="updateColumnSelect(this);"	) }}
	</td>
	
	<td>
		<input type="text" name="location-region-all" maxlength="200"
				class="region" onchange="updateColumn(this);"/>	
	</td>
	
	<td>
		<input type="text" name="location-locality-all" maxlength="200"
				class="locality" onchange="updateColumn(this);"/>	
	</td>
	
	<td> 
		<input type="text" name="location-additional_info-all"
				class="additional-location-info" onchange="updateColumn(this);"/> 
	</td>
	
	<td>
		<input type="number" name="location-geo_loc_latitude-all"
				min="-90" max="90" step="0.1"
				class="location-geo-loc-latitude" onchange="updateColumn(this);"/>	
	</td>
	
	<td>
		<input type="number" name="location-geo_loc_longitude-all"
				min="-180" max="180" step="0.1"
				class="location-geo-loc-longitude" onchange="updateColumn(this);"/>	
	</td>


	<td>
		{{ select("host-host_id-all", hosts,
							class="host", onchange="updateColumnSelect(this);" ) }}
	</td>
	
	<td>
		<input type="text" name="host-host_subject_id-all"
				class="host-subject-id" onchange="updateColumn(this);"/>
	</td>

	<td> 
		<input type="text" name="host-additional_host_info-all" 
				class="additional-host-info" onchange="updateColumn(this);"/> 
	</td>

	{% set genders=[{"label": "Male", "value":"1"}, 
									{"label": "Female", "value": "0"}, 
									{"label": "unknown", "value":""}] %}
	<td> 
		{#		{{ radio("host-patient_gender-all", genders, 
					class="gender", onchange="updateColumnRadio(this);" ) }} 
			#}
			<p> Gender </p>
	</td>

	<td> 
		<input type="number" name="host-patient_age-all" min="0" max="150" 
						class="host-patient-age" onchange="updateColumn(this);"/> 
	</td>

	<td> 
		{{ select("host-patient_status_id-all", patient_statuses, 
								class="patient_status", onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		<input type="text" name="host-last_vaccinated-all" 
					class="last-vaccinated" onchange="updateColumn(this);"/> 
	</td>


	<td>
		<input type="text" name="host-ppe-all" 
					class="ppe" onchange="updateColumn(this);"/>
	</td>


	<td> 
		{{ select("host-host_habitat_id-all", host_habitats,
							class="host-habitat", onchange="updateColumnSelect(this);") }}
	</td>


	<td> 
		{{ select("host-host_behaviour_id-all", host_behaviours,
							class="host-behaviour", onchange="updateColumnSelect(this);") }} 
	</td>

	<td>
		<input type="text" name="host-host_description-all"
					class="host-description" onchange="updateColumn(this);"/>
	</td>

	<td>
		<input type="text" name="host-gravidity-all" 
					class="host-gravidity" onchange="updateColumn(this);"/>
	</td>

	<td> 
		<input type="text" name="health-outbreak" maxlength="200"
							class="outbreak" onchange="updateColumn(this);" /> 
	</td>



	<td> 
		<input type="text" name="health-subject_exposure-all"
					class="subject-exposure" onchange="updateColumn(this);" /> 
	</td>

	<td> 
		<input type="text" name="health-subject_exposure_duration-all"
				 class="subject-exposure-duration" onchange="updateColumn(this);" /> 
	</td>

	<td>
		<input type="text" name="health-type_exposure-all"
				 class="type-exposure" onchange="updateColumn(this);" />
	</td>

	<td>
		{{ select("health-host_health_state_id",
							host_health_states,
							class="host-health-state",
							onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		<p> Hospitalisation </p>
	</td>

	<td>
		<input type="number" name="health-ilness_duration-all" min="0"
				class="ilness-duration" onchange="updateColumn(this);"  />
	</td>

	<td>
		<input type="text" name="health-ilness_symptoms-all" 
				class="ilness-symptoms" onchange="updateColumn(this);" />
	</td>

	<td> 
		<input type="text" name="health-treatment-all" 
				class="treatment" onchange="updateColumn(this);" /> 
	</td>


	<td> 
		{{ select("health+host_disease_outcome_id-all",
						host_disease_outcomes,
						class="host-disease-outcome",
						onchange="updateColumnSelect(this);") }} 
	</td>


	<td> 
		{{ select("sequencing-sequencing_instrument_id-all", 
							sequencing_instruments, 
							class="sequencing-instrument",
							onchange="updateColumnSelect(this);") }} 
	</td>


	<td> 
		{{ select("sequencing-assembly_method_id-all", 
					assembly_methods, 
					class="assembly-method",
					onchange="updateColumnSelect(this);") }} 
	</td>


	<td> 
		<input type="number" name="sequencing-coverage-all" min=0 
							style="width:92%;" class="coverage" onchange="updateColumn(this);"/>
		<span>x</span> 
	</td>



	<td> 
		{{ select("sampling-originating_lab_id-all", institutions, 
							class="originating-lab",
							onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		<input type="text" 
			name="sampling-originating_lab_sample_name-all" 
			class="originating-lab-sample-name"
			onchange="updateColumn(this);"/> 
	</td>

	<td> 
		{{ select("sampling-submitting_lab_id-all", institutions, 
							class="submitting-lab",
							onchange="updateColumnSelect(this);") }}
	</td>

	<td> 
		<input type="text" 
			name="sampling-submitting_lab_sample_name-all" 
			class="submitting-lab-sample-name"
			onchange="updateColumn(this);"/> 
	</td>

	<td> 
		{{ select("sampling-author_group_id-all", author_groups, 
							class="author-group",
							onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		{{ select("sampling-sampling_strategy_id-all", sampling_strategies, 
				class="sampling-strategies",
				onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		{{ select("sampling-passage_details_id-all", 
									passage_details, 
									class="passage-details",
									onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		<input type="text" name="sampling-isolate-all"
											 class="isolate"
											 onchange="updateColumn(this);"/>
	</td>

	<td> 
		<input type="text" name="sampling-strain-all"
											 class="strain"
											 onchange="updateColumn(this);"/>
	</td>

	<td>
		<input type="text" name="sampling-isolation_source_host_associated-all"
											 class="isolation-source-host-associated"
											 onchange="updateColumn(this);"/>
	</td>

	<td>
		<input type="text" name="sampling-isolation_source_non_host_associated-all" 
			class="isolation-source-non-host-associated"
			onchange="updateColumn(this);"/>
	</td>

	<td> 
		{{ select("sampling-sample_capture_status_id-all", 
									sample_capture_statuses, 
									class="sample-capture-status",
									onchange="updateColumnSelect(this);") }} 
	</td>
	
	<td> 
		{{ select("sampling-specimen_source_id-all", 
									specimen_sources, 
									class="specimen-source",
									onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		<input type="text" name="sampling-sample_storage_conditions-all"
						class="sample-storage-conditions"
						onchange="updateColumn(this);"/>
	</td>


	<td> 
		<input type="text" name="sampling-definition_for_seropositive_sample-all"
											 class="definition-for-seropositive-sample"
											 onchange="updateColumn(this);"/>
	</td>

	<td> 
		<input type="text" name="sampling-serotype-all"
											 class="serotype"
											 onchange="updateColumn(this);" />
	</td>


	<td> 
		<p class="unique"> <strong> Must be unique </strong> </p>
	</td>


	<td> 
		{{ select("library-strategy_id-all", library_strategies, 
							class="library-strategy",
							onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		{{ select("library-source_id-all", library_sources, 
							class="library-source",
							onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		{{ select("library-selection_id-all", library_selections, 
							class="library-selection",
							onchange="updateColumnSelect(this);") }} 
	</td>

	<td> 
		{% set lib_layout = [ 
						{"label": "Paired-End", "class": "1"},
						{"label": "Single", "class": "0" },
						{"label": "N/A", "class": "" } ] %}
		{{ radio("library-layout_paired-all", lib_layout, 
						class="library-layout-paired") }}	
	</td>


	<td>
		<input type="text" name="library-design_description-all" maxlength="1000"
											 class="library-design-description"
											 onchange="updateColumn(this);"/>
	</td>

	<td>
		<input type="date" name="library-preparation_date-all" min="2019-12-01"
											 class="library-preparation-date"
											 onchange="updateColumn(this);"/>
	</td>



</tr>
