{% from "/macros/select.j2" import select %}
{% from "/macros/radio.j2" import radio %}

<tr class="editor row template" style="visibility: collapse;">

	<td>
		<input type="text" name="sample+0+sample_name"
			class="sample-name"
			onchange="checkSampleNames();"/>
	</td>
	
	<td>
		<input type="text" maxlength=200 name="sample+0+sample_comment"
			class="sample-comment"/>
	</td>
	

	<td>
		<input type="number" min="2019" name="collection+0+year" 
			class="collection-year"/>
	</td>
	
	<td>
		<input type="number" min="0" max="12" name="collection+0+month"
			class="collection-month"/>
	</td>
	
	<td>
		<input type="number" min="0" max="31" name="collection+0+day"
			class="collection-day"/>
	</td>
	
	<td>
		{{ select("collection+0+collector_id", authors,
							class="collector-name") }}
	</td>
	

	<td>
		{{ select("location+0+continent_id", continents,
							class="continent") }}
	</td>
	
	<td>
		{{ select("location+0+country_id", countries,
							class="country") }}
	</td>
	
	<td>
		<input type="text" name="location+0+region" maxlength="200"
				class="region"/>	
	</td>
	
	<td>
		<input type="text" name="location+0+locality" maxlength="200"
				class="locality"/>	
	</td>
	
	<td> 
		<input type="text" name="location+0+additional_info"
				class="additional-location-info" /> 
	</td>
	
	<td>
		<input type="number" name="location+0+geo_loc_latitude"
				min="-90" max="90" step="0.1"
				class="location-geo-loc-latitude" />	
	</td>
	
	<td>
		<input type="number" name="location+0+geo_loc_longitude"
				min="-180" max="180" step="0.1"
				class="location-geo-loc-longitude" />	
	</td>
	

	<td>
		{{ select("host+0+host_id", hosts,
							class="host") }}
	</td>
	
	<td>
		<input type="text" name="host+0+host_subject_id"
				class="host-subject-id"/>
	</td>

	<td> 
		<input type="text" name="host+0+additional_host_info" 
				class="additional-host-info"/> 
	</td>

	<td> 
		{{ radio("host+0+patient_gender", genders, 
							class="gender") }} 
	</td>

	<td> 
		<input type="number" name="host+0+patient_age" min="0" max="150" 
						class="host-patient-age"/> 
	</td>


	<td> 
		{{ select("host+0+patient_status_id", patient_statuses, 
								class="patient_status") }} 
	</td>

	<td> 
		<input type="text" name="host+0+last_vaccinated" 
					class="last-vaccinated"/> 
	</td>


	<td>
		<input type="text" name="host+0+ppe" 
					class="ppe"/>
	</td>


	<td> 
		{{ select("host+0+host_habitat_id", host_habitats,
							class="host-habitat") }}
	</td>


	<td> 
		{{ select("host+0+host_behaviour_id", host_behaviours,
							class="host-behaviour") }} 
	</td>

	<td>
		<input type="text" name="host+0+host_description"
					class="host-description"/>
	</td>


	<td>
		<input type="text" name="host+0+gravidity" 
					class="host-gravidity"/>
	</td>

	<td> 
		<input type="text" name="health+0+outbreak" maxlength="200"
							class="outbreak"/> 
	</td>

	<td> 
		<input type="text" name="health+0+subject_exposure"
					class="subject-exposure"/> 
	</td>

	<td> 
		<input type="text" name="health+0+subject_exposure_duration"
											 class="subject-exposure-duration"/> 
	</td>

	<td>
		<input type="text" name="health+0+type_exposure"
											 class="type-exposure"/>
	</td>

	<td>
		{{ select("health+0+host_health_state_id",
							host_health_states,
							class="host-health-state") }} 
	</td>

	<td> 
		{{ radio("health+0+hospitalization", hospitalisations,
								class="hospitalisation") }} 
	</td>

	<td>
		<input type="number" name="health+0+ilness_duration" min="0"
				class="ilness-duration"/>
	</td>

	<td>
		<input type="text" name="health+0+ilness_symptoms" 
				class="ilness-symptoms"/>
	</td>

	<td> 
		<input type="text" name="health+0+treatment" class="treatment"/> 
	</td>


	<td> 
		{{ select("health+0+host_disease_outcome_id",
						host_disease_outcomes,
						class="host-disease-outcome") }} 
	</td>


	<td> 
		{{ select("sequencing+0+sequencing_instrument_id", 
							sequencing_instruments, 
							class="sequencing-instrument") }} 
	</td>


	<td> 
		{{ select("sequencing+0+assembly_method_id", 
					assembly_methods, 
					class="assembly-method") }} 
	</td>


	<td> 
		<input type="number" name="sequencing+0+coverage" min=0 
							style="width:92%;" class="coverage"/>
		<span>x</span> 
	</td>



	<td> 
		{{ select("sampling+0+originating_lab_id", institutions, 
							class="originating-lab") }} 
	</td>

	<td> 
		<input type="text"
			name="sampling+0+originating_lab_sample_name" 
			class="originating-lab-sample-name"/> 
	</td>

	<td> 
		{{ select("sampling+0+submitting_lab_id", institutions, 
							class="submitting-lab") }}
	</td>

	<td> 
		<input type="text" 
			name="sampling+0+submitting_lab_sample_name" 
			class="submitting-lab-sample-name"/> 
	</td>

	<td> 
		{{ select("sampling+0+author_group_id", author_groups, 
							class="author-group")}} 
	</td>

	<td> 
		{{ select("sampling+0+sampling_strategy_id", sampling_strategies, 
				class="sampling-strategies")}} 
	</td>

	<td> 
		{{ select("sampling+0+passage_details_id", 
									passage_details, 
									class="passage-details") }} 
	</td>

	<td> 
		<input type="text" name="sampling+0+isolate"
											 class="isolate"/>
	</td>

	<td> 
		<input type="text" name="sampling+0+strain"
											 class="strain"/>
	</td>

	<td>
		<input type="text" name="sampling+0+isolation_source_host_associated"
											 class="isolation-source-host-associated"/>
	</td>

	<td>
		<input type="text" name="sampling+0+isolation_source_non_host_associated" 
			class="isolation-source-non-host-associated"/>
	</td>

	<td> 
		{{ select("sampling+0+sample_capture_status_id", 
									sample_capture_statuses, 
									class="sample-capture-status") }} 
	</td>
	
	<td> 
		{{ select("sampling+0+specimen_source_id", 
									specimen_sources, 
									class="specimen-source") }} 
	</td>

	<td> 
		<input type="text" name="sampling+0+sample_storage_conditions"
						class="sample-storage-conditions"/>
	</td>


	<td> 
		<input type="text" name="sampling+0+definition_for_seropositive_sample"
											 class="definition-for-seropositive-sample"/>
	</td>

	<td> 
		<input type="text" name="sampling+0+serotype"
											 class="serotype"/>
	</td>


	<td> 
		<input type="text" name="library+0+lib_id" 
					class="library-id"
					onchange="checkLibraryNames();"/>
	</td>


	<td> 
		{{ select("library+0+strategy_id", library_strategies, 
							class="library-strategy") }}
	</td>

	<td> 
		{{ select("library+0+source_id", library_sources, 
							class="library-source") }}
	</td>

	<td> 
		{{ select("library+0+selection_id", library_selections, 
							class="library-selection") }}
	</td>

	<td> 
		{{ radio("library+0+layout_paired", library_layouts, 
						class="library-layout-paired") }}	
	</td>


	<td>
		<input type="text" name="library+0+design_description" maxlength="1000"
											 class="library-design-description"/>
	</td>

	<td>
		<input type="date" name="library+0+preparation_date" min="2019-12-01"
											 class="library-preparation-date"/>
	</td>


</tr>
