<h1>ENA</h1>

<input type="text" id="ena-checklist-accession" value="ERC000033">
<input type="button" onclick="fetchXML();" value="Search"><CHECKLIST_SET>


<dl id="ena-checklist-info"></dl>


<form id="fields-editor" method="POST" action="{{ url_for('samples_bp.submit_template') }}">
	<table id="fields-editor-tab">
		<tr>
			<th>Keep field</th>
			<th>Label</th>
			<th>Description</th>
			<th>Default value</th>
		</tr>
		{% include("samples/template.html") %}
	</table>
	<input type="submit" values="Save">
</form>
