<h1>Samples</h1>

<form action="{{ url_for('samples_bp.edit') }}" method="POST">

	<p>To register new samples select a <em>template</em> and click the <em>Register samples</em> button.</p>

	<label for="template_name">Template</label>
	<select id="selected-template" name="template_name" onchange="updateView();">
		{% for template in templates %}
		<option value="{{ template }}">{{ template }}</option>
		{% endfor %}
	</select>


	<input type="submit" name="action" value="Register samples">

	<table id="samples-view" class="view">

		<tr class="head">
			<th>Sample name</th>
			<th>Short description</th>
			<th>Select</th>
		</tr>

	</table>

	<button type="submit" name="action" value="edit">Edit samples</button>

	<input type="submit" name="action" value="Generate ENA">
	<input type="submit" name="action" value="Generate GISAID">

</form>
