<tr>
	<td> Collection date {{ marker("gisaid") }} 
			{{ marker("ena", requirement="recommended") }} </td>
	<td> 
		<input type="number" min="2019" name="collection+year" 
			style="width: 45%;"
			value="{{ sample.collection_year }}" />
		<input type="number" min="0" max="12" name="collection+month" 
			style="width: 20%;"
			value="{{ sample.collection_month }}" />
		<input type="number" min="0" max="31" name="collection+day" 
			style="width: 20%;"
			value="{{ sample.collection_day }}"/>
	</td>	
	<td> The date when the sample was collected from the patient. 
			Format: year month day</td>
</tr>


<tr>
	<td>Collector name {{ marker("ena") }}</td>	
	<td> {{ select("collection+collector_id", 
					authors, 
					selected_id=sample.collector_id) }}</td>	
	<td></td>	
</tr>




