<tr>
	<td> Library ID {{ marker("ncbi") }}</td>
	<td> 
		<input type="text" name="library+lib_id" 
			value="{{ sample.library_id }}"/>
	</td>
	<td> Short unique identifier for the sequencing library. 
		Each library ID must be unique </td>
</tr>


<tr>
	<td> Library strategy {{ marker("ncbi") }} </td>
	{% set selected = sample.library_strategy_id 
		if sample.library_strategy_id != ""
		else default_vals.library_strategy_id %}
	<td> 
		{{ select("library+strategy_id", library_strategies, 
							selected_id=selected) }}
	</td>
	<td> Detailed description can be found  
		<a href="{{ url_for('misc_bp.descript_library')+'#library-strategies' }}" 
				target="_blank">here</a></td>
</tr>


<tr>
	<td> Library source {{ marker("ncbi") }} </td>
	{% set selected = sample.library_source_id 
		if sample.library_source_id != ""
		else default_vals.library_source_id %}
	<td> 
		{{ select("library+source_id", library_sources, 
							selected_id=selected) }}
	</td>
	<td> Detailed description can be found 
		<a href="{{ url_for('misc_bp.descript_library')+'#library-sources' }}" 
				target="_blank">here</a></td>
</tr>


<tr>
	<td> Library selection {{ marker("ncbi") }} </td>
	{% set selected = sample.library_selection_id 
		if sample.library_selection_id != ""
		else default_vals.library_selection_id %}
	<td> 
		{{ select("library+selection_id", library_selections, 
							selected_id=selected) }}
	</td>
	<td> Detailed description can be found 
		<a href="{{ url_for('misc_bp.descript_library')+'#library-selections' }}" 
			 	target="_blank">here</a></td>
</tr>


<tr>
	<td> Library layout {{ marker("ncbi") }} </td>
	{% set library_layout = sample.library_layout_paired 
		if sample.library_layout_paired 
		else default_vals.library_layout_paired %}
	<td> 
		{{ radio("library+layout_paired", library_layouts, 
				selected_value=library_layout) }}	
	</td>
	<td> Paired-end or Single </td>
</tr>


<tr>
	<td>Library design description {{ marker("ncbi", requirement="optional") }}</td>
	<td>
		<input type="text" name="library+design_description" maxlength="1000"
											 value="{{ sample.library_design_description }}"/>
	</td>
	<td>Free-form description of the methods used to create the sequencing library; 
	a brief 'material and methods' section.</td>
</tr>


<tr>
	<td>Library preparation date {{ marker("ena", requirement="optional") }}</td>
	<td>
		<input type="date" name="library+preparation_date" min="2019-12-01"
											 value="{{ sample.library_preparation_date }}"/>
	</td>
	<td>Date when the library was prepared.</td>
</tr>

